@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    box-sizing: border-box;
    margin: 0;
}
body {
    box-sizing: inherit;
    background-color: aquamarine;
    margin: 0;
    padding: 0;
}